*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgba(250, 248, 240, 1);
	height: 900px;
	font-family: 'Revalia',Arial;
	/*font-size: .9em;*/
}

header{
	background-color: #009E35;
}

header h1 a{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	width: 80%;
}

.nav-bar{
	width: 100%;
}


ul{
	padding: 10px;

}

li{
	list-style: none;
}

header h1{
	width: 80%;
	display: inline-block;
}

/****************/
.user{
	float: right;
	font-size: 1.4em;

}

.contenedor{
	margin: auto;
	width: 100%;
	height: 450px;
	/*font-size: 3em;*/
}

.contenedor #features{
	text-align: center;
}

/*******************/
.imagenes-bienvenida{
	margin: auto;
	text-align: center;
}

#img-index{
	padding: 30px;
}

/*******************/
.charts{
	padding: 30px;
	width: 95%;
	height: 150px;
	margin-top: 7px;
	background-color: rgb(254,254,254);
	border-radius: 5px 5px;
}


#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}						

.wraper-nav{
	position: relative;
	width: 100%;
	height: 77px;
	background-color: #0098C9;
}

.menu-bar{
	width: 66%;
	height: 66px;
	margin: auto;
}

.menu-bar ul{
	display: inline-flex;

}

.menu-bar ul li a{
	font-size: 1.4em;
	display: inline-block;
	padding: 4px;
	color: black;
}


/*Mejorar el codigo para estos tres elementos*/
.users{
	background-color: #EBBD27;
	margin-left: 13px;
	width: 188px;
	padding: 12px;
}


.students{
	background-color: #EBBD27;
	margin-left: 13px;
	width: 188px;
	padding: 12px;
}


.chart{
	background-color: #EBBD27;
	margin-left: 13px;
	width: 188px;
	padding: 12px;
}

.reports{
	background-color: #EBBD27;
	margin-left: 13px;
}



/********TABLE GENERAL***********/
table,tr,td{
	border-collapse: collapse;
	padding-left: 25px;
	vertical-align: top;
	font-size: 13px;
	line-height: 15px;
}

#estructura{
	height: 600px;
	width: 100%;
}

#menu{
	width: 10%;
	padding: 1px;
	background-color: rgb(2,28,52);
}

#menu ul li a{
	padding: 5px;
	color: white;
	display: inline-block;
	text-decoration: none;
}


/********formulario estiante nuevo***********/
.wrap-formulario{
	width: 90%;
	margin: auto;
}


form{
	width: 86%;
	margin: 20px 0;
	padding: 27px;
	background-color: rgb(255,255,255);
	overflow: hidden;/*Para el efecto del boton ya que le pusimos loat:left*/
	border-top: 4px solid rgba(227, 84, 96, 1);
	box-shadow: 0 2px 3px grey;/*Creamos la sombra: primer parametro:,segundo parametro: grosor abajo,tercer parametro es el grosor*/
	font-size: 1.9em;
}

.table-formulario{
	height: 400px;
	width: 90%;
	
}

.table-formulario td,tr{
	vertical-align: top;

}

.labels{
	font-size: .5em;
	font-weight: bolder;
}



/*-------estilos input----------*/
form input[type="date"],
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="checkbox"],
form input[type="select"],
form input[type="button"],
select{
	border: 1px solid #536DFE;
	border-radius: 4px;
	padding: 11px;
	display: inline-block;
	margin-bottom: 9px;
	font-size: .9em;
	color: #141938;
}

.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="date"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="text"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="number"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="email"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="checkbox"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion form input[type="select"],
.wrap-formulario-new-estudiante, .wrap-formulario-institucion select
{
	/*padding: 106%;*/
	width: 90%;
	font-size: .9em;
}


.formulario-editar-user form input[type="text"],
.formulario-editar-user form input[type="number"],
.formulario-editar-user form input[type="email"],
.formulario-editar-user form input[type="date"],
.formulario-editar-user form input[type="select"],
.formulario-editar-user form input[type="submit"],
.formulario-editar-user form input[type="reset"],
.formulario-editar-user form input[type="radio"]{
 border: 1px solid #536DFE;
	border-radius: 4px;
	padding: 10px;
	width: 54%;
	display: inline-block;
	margin-bottom: 9px;
	font-size: .9em;
	color: #141938;
}

form input[type="text"]:focus,
form input[type="email"]:focus{
	border: 2px solid rgba(227, 84, 96, 1);
	padding: 7px;
}


.input-redit{
	font-size: .4em;
	font-weight: normal;
}

.alert{
	padding: 1em;
	border-radius: 2px;
	margin-bottom: 20px;
	font-size: .5em;
	color: white;
}

.alert.error{
	background: #F2DEDE;
	border: 1px solid #A94442;
	color: #A94442;
}

.alert.success{
	background: #4CA450;
}

.btn,
form input[type="submit"]{
	padding: 15px;
	background: #ED572A;
	color: #E1E9FA;
	font-size: .4em;
	border-radius: 2px;
	border: none;
	float: right;
	cursor: pointer;
}

form input[type="submit"]:hover{
	background-color: #E64E19;
}

/**ESETILOS resultados BUSCAR ALUMNO*/

/*estilos busqueda estudiante*/
#estructura .contenedor-busqueda{
	margin: auto;
	width: 97%;
}

#busqueda{
	width: 38%;
	padding: 15px;
	background: #ED572A;
	color: #fff;
	font-size: 1.5em;
	border-radius: 2px;
	border: none;	
}

#wraper_resultado {
	width: 100%;
	/*max-width: 86%;*/
	margin-bottom: 38px;
	/*margin-left: 65px;*/
}

.tabla_resultados{
	margin: 25px;
	background-color: #FFF;
}


.row-primary {
	color: #fff;
	padding: 4px;
	background-color: rgb(22,23,61);
	height: 31px;
	font-weight: bold;
	text-align: center;
}

.row-secundaria{
	text-align: center;
}

.cell{
	padding: 3px;
}

.links-crud{
	text-decoration: none;
	color: black;
}

.links-crud:hover{
	background-color: white;
}


.wraper-p form input[type="text"]
{
	width: 10%;
}

/**ESETILOS BUSCAR ALUMNO END*/

/*Estilo contenedor de los charts en principal*/
.wraper-charts{
	margin: auto;
	width: 90%;
}


/*******************/

footer{

  position:fixed;
   left:0px;
   bottom:0px;
   /*height:10px;*/
   width:100%;
   background-color: #009E35;
   text-align: center;
	font-size: .9em;
	font-family: "Times New Roman", Georgia, Serif;
	padding: 10px;

}
