*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba(254,254, 254);
}

.contenedor{
	margin: auto;
	width: 80%;
	height: 450px;
	margin-top: 80px;
	padding: 5px;
	font-size: 3em;
}


/*LOGUIN*/
.contenedor-loguin{
	margin: auto;
	width: 40%;	
	height: 242px;
}

.frm-login{
	margin-top: 50px;
	padding: 80Px 20px;
	text-align: center;
	background-color: #42e599;
}


.btn,
form input[type="text"],
form input[type="password"]
{
	border: 1px solid #536DFE;
	border-radius: 4px;
	padding: 5px;
	width: 50%;
	display: inline-block;
	margin-bottom: 9px;
	font-size: .4em;
	color: #141938;
}


form input[type="text"]:focus,
form input[type="password"]:focus{
	border: 2px solid rgba(227, 84, 96, 1);
	padding: 7px;
}