*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba( 39, 55, 70 );
}

.contenedor{
	margin: auto;
	width: 80%;
	height: 450px;
	margin-top: 80px;
	padding: 5px;
	font-size: 1.8em;
}


/*LOGUIN*/
.contenedor-login{
	margin: auto;
	width: 40%;	
	height: 242px;
}

.frm-login{
	margin-top: 75px;
	padding: 30Px 0px;
	text-align: center;
	background-color: rgb( 39, 55, 70 );
}

.envuelve-input{
	padding: 1px;
}

.btn{
	padding: 8px;
	background: #ED572A;
	color: #E1E9FA;
	font-size: .4em;
	border-radius: 2px;
	border: none;
	float: right;
	cursor: pointer;
}

form input[type="text"],
form input[type="password"]
{
	border: 1px solid #536DFE;
	border-radius: 4px;
	padding: 7px;
	width: 50%;
	font-size: .4em;
	color: #060c2f;
}


form input[type="text"]:focus,
form input[type="password"]:focus{
	border: 2px solid rgba(227, 84, 96, 1);
	padding: 7px;
}